body {
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
}

#w {
  position: relative;
}

#w > * {
  position: absolute;
}

#over {
  background-color: rgba(0, 0, 0, 0.5);
}

iframe {
  pointer-events: none;
}

button {
  position: absolute;
  left: 0;
  top: 240px;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

img {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 250ms, top 250ms, transform 250ms, opacity 250ms;
  margin-left: -83px;
  margin-top: -106px;
}

.i50 {
  transform: scale(0.35, 0.35);
}
.i30 {
  transform: scale(0.25, 0.25);
}
